<%- include('header') -%>


<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem laborum maiores, nemo ad, placeat exercitationem id praesentium blanditiis velit quia deleniti laudantium expedita delectus alias earum est tempora possimus quos!</p>


<%- include('footer') -%>